OPENROUTER_API_KEY=sk-or-acá-va-tu-api-key
OPENROUTER_SITE_URL=http://localhost:5173
OPENROUTER_APP_NAME=ResidenciaMF
VITE_SUPABASE_URL=https://covnmlolzupnaepqydbe.supabase.co
VITE_SUPABASE_KEY=sb_publishable_VRkXxjLc54QMurO8v9lvSg_KRg0NNQW
